<header class="header">
  <div class="header__container container">
    <div class="header__box">
      <div class="header__box-logo">
        <a href="" class="header__logo">
          <img src="./images/film-logo.png" alt="logo">
        </a>
        <a href="" class="header__logo-title">Filmoteka</a>
      </div>
      <nav class="header__nav">
        <ul class="hrader__nav-list">
          <li class="header__nav-item"><a href="./index.html" class="header__nav-link" data-id="1">home</a></li>
          <li class="header__nav-item"><a href="./indexLibrary.html" class="header__nav-link" data-id="2">my library</a></li>

        </ul>
      </nav>
    </div>
    <form class="header__form" id="header__form-js">
      <input class="header__input" type="text" name="search">
      <button type="submit" class="header__button">отправить</button>
		
    </form>
	 <p class="input__warrining-message"></p>


  </div>
</header>
